<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="list-group">
          <li class="list-group-item list-group-item-success"><strong>Tratamiento:</strong><%= @treatment.nombre %></li>
          <li class="list-group-item list-group-item-success"><strong>Descripcion:</strong><%= @treatment.tratamiento %></li>
          <% if current_user.employee.jefe? %>
            <li class="list-group-item list-group-item-success"><strong>Costo:</strong><%= @treatment.costo %></li>
          <% end %>
          <li class="list-group-item list-group-item-success"><strong>Diagnostico Presuntivo:</strong><%= @treatment.diagnostico_presuntivo %></li>
          <li class="list-group-item list-group-item-success"><strong>Diagnostico Definitivo:</strong><%= @treatment.diagnostico_definitivo %></li>
          <% if @treatment.rayos_x == true %>
            <li class="list-group-item list-group-item-success"><strong>Rayos X:</strong>SI</li>
          <% else %>
            <li class="list-group-item list-group-item-danger"><strong>Rayos X:</strong>NO</li>
          <% end %>
          <% if current_user.employee.jefe? %>
            <li class="list-group-item list-group-item-success"><strong>Doctor:</strong><%= link_to @treatment.employee.nombre, employee_path(@treatment.employee), class: "btn btn-info", target:"_blank" %></li>                
          <% else %>
            <li class="list-group-item list-group-item-success"><strong>Doctor:</strong><%= @treatment.employee.nombre %></li>
          <% end %>

          <li class="list-group-item list-group-item-success"><strong>Exament Dental:</strong><%= @treatment.dental_examination.posicion %>  <%= @treatment.dental_examination.numero_diente %></li>
      </div>
    </div>
  </div>
</div>

<% if current_user.has_rol("ortondoncista") %>
  <%= link_to 'Atras', lista_path, class: "btn btn-default" %>
<% else %>
  <div class="container">
    <%= link_to 'Editar', edit_treatment_path(@treatment), class: "btn btn-default" %>
    <%= link_to 'Atras', medical_history_path(@treatment.medical_history), class: "btn btn-default" %>
  </div>
<% end %>
