<div class=" container well">
  <div class="field">
    <%= f.hidden_field :employee_id, value: current_user.employee.id %>
  </div>
  <div class="field">
    <%= f.label :dental_examination_id %><br>
    <%= f.collection_select(:dental_examination_id, DentalExamination.all, :id, :numero_diente, {:prompt=>'Seleccion numero de diente'})%>
  </div>
  <div class="field">
    <%= f.label :diagnostico_presuntivo, 'Diagnostico Presuntivo'%>
    <%= f.text_area :diagnostico_presuntivo%>
  </div>
  <div class="field">
    <%= f.label :diagnostico_definitivo, 'Diagnostico Definitivo'%>
    <%= f.text_area :diagnostico_definitivo%>
  </div>
  <div class="field">
    <%= f.label :rayos_x, 'Rayos X'%>
    <%= f.check_box :rayos_x %>
  </div>
    <div class="field">
      <%= f.label :nombre, 'Nombre del tratamiento'%>
      <%= f.text_field :nombre%>
    </div>
    <div class="field">
      <%= f.label :tratamiento, 'Descripcion del tratamiento'%>
      <%= f.text_area :tratamiento%>
    </div>
    <div class="field">
      <%= f.label :costo, 'Costo del tratamiento'%>
      <%= f.text_field :costo%>
    </div>
  <%= f.link_to_remove "Eliminar este tratemiento"%>

</div>
