<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 well" style="background-color:#f4ab60;">
        <h1>Historial Clínico de <%= @medical_history.patient.full_name %></h1>
    </div>
  </div>
</div>


<div class="container jumbotron">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="list-group">
        <% if @medical_history.tratamiento_medico == true %>
          <li class="list-group-item list-group-item-success"><strong>Esta en tratamiento medico?:</strong> Si </li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><strong>Esta en tratamiento medico?:</strong> No </li>
        <% end %>

        <% if @medical_history.medicamentos_actuales == true %>
          <li class="list-group-item list-group-item-success"><strong>Toma medicamentos actualemente?:</strong> Si </li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><strong>Toma medicamentos actualemente?:</strong> No </li>
        <% end %>

        <% if @medical_history.enfermo_corazon == true %>
          <li class="list-group-item list-group-item-success"><strong>Es enfermo del corazon?:</strong> Si </li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><strong>Es enfermo del corazon?:</strong> No </li>
        <% end %>

        <% if @medical_history.desmayos_frecuencia == true %>
          <li class="list-group-item list-group-item-success"><strong>Sufre desmayos con frecuencia?:</strong> Si </li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><strong>Sufre desmayos con frecuencia?:</strong> No </li>
        <% end %>

        <% if @medical_history.intervenido_quirurgicamente == true %>
          <li class="list-group-item list-group-item-success"><strong>Ha sido intervenido quirurgicamente?:</strong> Si </li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><strong>Ha sido intervenido quirurgicamente?:</strong> No </li>
        <% end %>

        <% if @medical_history.complicaciones_hemorragias == true %>
          <li class="list-group-item list-group-item-success"><strong>Ha tenido complicaciones o hemorragias anormales despues de una extraccion o una herida?:</strong> Si </li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><strong>Ha tenido complicaciones o hemorragias anormales despues de una extraccion o una herida?:</strong> No </li>
        <% end %>

        <% if @medical_history.observaciones.present? %>
          <li class="list-group-item warning">
            <h3 class="list-group-item-heading">Observaciones:</h3>
            <p class="list-group-item-text"><%= @medical_history.observaciones %></p>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <!--Boton con modal-->
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalHistorialClinico">
      Editar
    </button>
    <!-- Modal para editar Historial Medico-->
    <div class="modal fade" id="ModalHistorialClinico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title" id="myModalLabel">Editar Historial Clínico</h1>
          </div>
          <div class="modal-body">
            <%= render "form1" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<!--Boton con modal-->

<div class="container well">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
          <h1>Lista de tratamientos</h1>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Examen Dental:</th>
                <th>Diagnostico Presuntivo:</th>
                <th>Diagnostico Definitivo:</th>
                <th>Rayos X:</th>
                <th>Tratamiento:</th>
                <% if current_user.employee.jefe? %>
                  <th>Costo:</th>
                <% end %>
                <th colspan="2">Protesis:</th>
                <th colspan="2">Opciones:</th>
              </tr>
            </thead>
            <tbody>
            <% @medical_history.treatments.each do |tratamiento| %>
              <tr <% if tratamiento.costo.nil?  && current_user.employee.jefe? %>
                style="background-color:#e85c5c;"
              <% end %> >
                <td><%= tratamiento.dental_examination.posicion? %> <%= tratamiento.dental_examination.numero_diente %></td>
                <td><%= tratamiento.diagnostico_presuntivo %></td>
                <td><%= tratamiento.diagnostico_definitivo %></td>
                <% if tratamiento.rayos_x == true %>
                  <td>Si</td>
                <% else %>
                  <td>No</td>
                <% end %>
                <td><%= tratamiento.nombre %></td>
                <% if current_user.employee.jefe? %>
                  <td><%= tratamiento.costo %></td>
                <% end %>
                <% if tratamiento.prosthesis == [] %>
                  <td><%= link_to "Protesis", {:controller => "prostheses", :action => "new", :id => tratamiento.id}, class: "btn btn-success" %></td>
                  <td><%= link_to "Protesis", {:controller => "prostheses", :action => "index", :id => tratamiento.id }, class: "btn btn-warning disabled" %></td>
                <% else %>
                  <td><%= link_to "Protesis", {:controller => "prostheses", :action => "new", :id => tratamiento.id}, class: "btn btn-success" %></td>
                    <% tratamiento.prosthesis.each do |protesis| %>
                      <% if current_user.has_rol("ortondoncista") &&  protesis.costo.nil?%>
                        <td><%= link_to "Verificar", {:controller => "prostheses", :action => "index", :id => tratamiento.id }, class: "btn btn-warning" %></td>
                      <% end %>
                    <% end %>
                  <td><%= link_to "Protesis", {:controller => "prostheses", :action => "index", :id => tratamiento.id }, class: "btn btn-warning" %></td>
                <% end %>
                <% if tratamiento.costo.nil? && current_user.employee.jefe?%>
                  <td><%= link_to "Verificar", edit_treatment_path(tratamiento), class: "btn btn-warning" %></td>
                <% else %>
                  <td><%= link_to "Detalles", treatment_path(tratamiento), class: "btn btn-info" %></td>
                <% end %>

                <% if current_user.employee.jefe? %>
                  <td><%= link_to "Eliminar", treatment_path(tratamiento), method: :delete, data: { confirm: 'Estas seguro de eliminar?' }, class: "btn btn-danger" %></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

    <div class="container">
      <%= link_to "Nuevo tratamiento", {:controller => "treatments", :action => "new", :id => @medical_history.id} , class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom:15px;">
  <%= link_to 'Atras', patients_path, class: "btn btn-default" %>
</div>
