<% name ||= "Crear" %>
<h1><%= name %> Empleado</h1>
  <%= form_for(@employee , :html => {class: "form-horizontal", role:"form"}) do |f| %>
    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :nombre %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :nombre , class: "form-control", autofocus: true%>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :apellido_paterno %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :apellido_paterno, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :apellido_materno %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :apellido_materno, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :fecha_nacimiento %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :fecha_nacimiento, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :genero %>
      </div>
      <div class="col-md-9">
        <%= f.select(:genero, options_for_select([['Masculino','Masculino'],['Femenino','Femenino']]),{prompt: "Seleccione un genero"}, class: "form-control")%>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :nacionalidad %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :nacionalidad, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :profesion %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :profesion, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :especialidad %>
      </div>
      <div class="col-md-9">
          <%= f.text_area :especialidad, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :fecha_alta %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :fecha_alta, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :fecha_baja %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :fecha_baja, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :CI %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :CI, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :email %>
      </div>
      <div class="col-md-9">
          <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :sucursal %>
      </div>
      <div class="col-md-9">
          <%= f.select(:sucursal, options_for_select([['1','1'],['2','2'],['3','3']]), {prompt: "Seleccione sucursal"}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :role_id %>
      </div>
      <div class="col-md-9">
          <%= f.collection_select(:role_id, Role.where.not("nombre = 'Paciente'"), :id, :nombre, {:prompt=>'Seleccione'}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
          <%= f.label :cargo %>
      </div>
      <div class="col-md-9">
          <%= f.select(:cargo, options_for_select([['Jefe','Jefe'],['Doctor','Doctor'],['Pasante','Pasante']]),{prompt: "Seleccione un cargo"}, class: "form-control") %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-11">
          <%= f.submit "Guardar", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
