<div class="container well">
  <h1>Lista de Empleados</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido paterno</th>
              <th>Apellido materno</th>
              <th>Role</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= employee.nombre %></td>
                <td><%= employee.apellido_paterno %></td>
                <td><%= employee.apellido_materno %></td>
                <td><%= employee.role.nombre %></td>
                <% if current_user.has_rol("Odontologo") && current_user.employee.jefe? %>
                <td><%= link_to 'Mostrar', employee, class: "btn btn-info" %></td>
                <td><%= link_to 'Editar', edit_employee_path(employee), class: "btn btn-warning" %></td>
                <% end %>

                <% if current_user.employee.nil? && current_user.patient.nil? %>
                  <td><%= link_to 'Mostrar', employee, class: "btn btn-info" %></td>
                  <td><%= link_to 'Editar', edit_employee_path(employee), class: "btn btn-warning" %></td>                  
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        </div>
        <%= link_to 'Nuevo Empleado', new_employee_path , class: "btn btn-primary"%>

    </div>
  </div>

</div>
