<div class="container well">
  <h1>Lista de Empleados</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Role</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.nombre %></td>
          <td><%= employee.apellido_paterno %></td>
          <td><%= employee.apellido_materno %></td>
          <td><%= employee.role.nombre %></td>
          <td><%= link_to 'Mostrar', employee %></td>
          <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
          <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Empleado', new_employee_path , class: "btn btn-primary"%>

</div>
