<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="list-group">
        <li class="list-group-item list-group-item-success"><strong>Nombre:</strong><%= @employee.nombre %></li>
        <li class="list-group-item list-group-item-success"><strong>Apellido Paterno:</strong><%= @employee.apellido_paterno %></li>
        <li class="list-group-item list-group-item-success"><strong>Apellido Materno:</strong><%= @employee.apellido_materno %></li>
        <li class="list-group-item list-group-item-success"><strong>Fecha de Nacimiento:</strong><%= @employee.fecha_nacimiento %></li>
        <li class="list-group-item list-group-item-success"><strong>Genero:</strong><%= @employee.genero %></li>
        <li class="list-group-item list-group-item-success"><strong>Nacionalidad:</strong><%= @employee.nacionalidad %></li>
        <li class="list-group-item list-group-item-success"><strong>Profesion:</strong><%= @employee.profesion %></li>
        <li class="list-group-item list-group-item-success"><strong>Especialidad:</strong><%= @employee.especialidad %></li>
        <li class="list-group-item list-group-item-success"><strong>Fecha alta:</strong><%= @employee.fecha_alta %></li>
        <li class="list-group-item list-group-item-success"><strong>Fecha baja:</strong><%= @employee.fecha_baja %></li>
        <li class="list-group-item list-group-item-success"><strong>CI:</strong><%= @employee.CI %></li>
        <li class="list-group-item list-group-item-success"><strong>Email:</strong><%= @employee.email %></li>
        <li class="list-group-item list-group-item-success"><strong>Sucursal: </strong><%= @employee.sucursal.direccion %></li>
        <li class="list-group-item list-group-item-success"><strong>Rol:</strong><%= @employee.role.nombre %></li>
        <li class="list-group-item list-group-item-success"><strong>Cargo:</strong><%= @employee.cargo %></li>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom:50px;">
  <%= link_to 'Editar', edit_employee_path(@employee), class: "btn btn-default" %> 
  <%= link_to 'Atras', employees_path, class: "btn btn-default" %>
</div>
