<div class="container well">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="table-responsive">
        <h1>Lista de prótesis</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Protesis</th>
              <% if current_user.employee.jefe? || current_user.has_rol("ortondoncista") %>
                <th>Costo</th>
              <% end %>
              <th>Examen Dental:</th>
              <th colspan="3">Opciones:</th>
            </tr>
          </thead>

          <tbody>
            <% @prostheses.each do |prosthesis| %>
              <tr <% if prosthesis.costo.nil?  && current_user.has_rol("ortondoncista") %>
                style="background-color:#e85c5c;"
              <% end %> >
                <td><%= prosthesis.nombre %></td>
                <td><%= prosthesis.protesis %></td>
                <% if current_user.employee.jefe? || current_user.has_rol("ortondoncista")%>
                  <td><%= prosthesis.costo %></td>
                <% end %>
                <td><%= prosthesis.treatment.dental_examination.posicion? %> <%= prosthesis.treatment.dental_examination.numero_diente %></td>
                <% if prosthesis.costo.nil? && current_user.has_rol("ortondoncista") %>
                    <td><%= link_to 'Verificar', edit_prosthesis_path(prosthesis), class: "btn btn-warning" %></td>
                <% else %>
                  <td><%= link_to 'Detalles', prosthesis, class: "btn btn-info" %></td>
                  <% if prosthesis.estado == "pendiente" %>
                    <td><%= link_to 'Despachar', {:controller => "prostheses", :action => "entregado", :id => prosthesis.id}, class: "btn btn-warning" %></td>
                  <% else %>
                    <td><%= link_to 'Despachado', lista_path, class: "btn btn-danger" %></td>
                  <% end %>

                <% end %>


                <% if current_user.employee.jefe? %>
                  <td><%= link_to 'Eliminar', prosthesis, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
