<% name ||= "Crear" %>
<h1><%= name %> paciente</h1>
<%= form_for(@patient, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibidos antes de registrar al paciente:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :nombres %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_field :nombres, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :apellido_paterno %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_field :apellido_paterno, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :apellido_materno %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_field :apellido_materno, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :edad %><br>
    </div>
    <div class="col-md-9">
        <%= f.number_field :edad, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :ocupacion %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_field :ocupacion, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :procedencia %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_field :procedencia, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :direccion %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_area :direccion, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :tiempo_disponible %><br>
    </div>
    <div class="col-md-9">
        <%= f.select(:tiempo_disponible, options_for_select([['Mañana','Mañana'],['Tarde','Tarde'],['Noche','Noche']]),{prompt: "Seleccione una opcion"}, class: "form-control")%>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :telefono %><br>
    </div>
    <div class="col-md-9">
        <%= f.number_field :telefono, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :email %><br>
    </div>
    <div class="col-md-9">
        <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
        <%= f.label :CI %><br>
    </div>
    <div class="col-md-9">
        <%= f.text_field :CI, class: "form-control" %>
    </div>
  </div>

  <div class="field">
    <%= f.hidden_field :role_id, value: 1 %>
  </div>

  <div class="frm-group">
    <div class="col-md-offset-1 col-md-11">
        <%= f.submit "Guardar", class: "btn btn-primary btn-lg"%>
    </div>
  </div>
<% end %>
